.error-img {
  height: 140px;
  width: 140px;
}

.error-title {
  font-family: 'Roboto';
  margin: 20px 0px 0px 0px
}

.error-description {
  font-family: 'Roboto';
  font-weight: bold;
}

.error-button {
  cursor: pointer;
  width: 300px;
  font-family: 'Roboto';
  color: white;
  background-color: #385BA8;
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px 0px;
  border: 2px solid #385BA8;
}

.error-button:hover {
  border: 2px solid #11448D;
  background-color: #11448D;
}